.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

a.iconLink:hover{
opacity: 0.4;
color: #18bc9c;

}
a.iconLink{
    color: black;
    font-size:medium;
    float: left;
    margin: 0px 2px;
    width: auto;
    outline: none;
    text-decoration: none;
}