/* 
	Carlos Gonzalez.
	Estilos css customizados globales para el site.
*/

/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 80px; /* body padding for fixed top nav */
}

.tab-pane {
    margin-top: 15px;
}

textarea {
    resize: none;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1; /* change this to change the background color of a colored section */
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/*Carlos Gonzalez, fix to a button height*/
a.btn {
    line-height: 21px;
}

/**CUSTOM CLASSES. Carlos González **/
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.fln {
    float: none !important;
}

.mn {
    margin: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pp0 {
    padding: 0 !important;
}

.ml0 {
    margin-left: 0px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.dn {
    display: none;
}

.w100 {
    width: 100% !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.ml1 {
    margin-right: 69px;
}

.ml2 {
    margin-right: 15px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mt20 {
    margin-top: 20px;
}

/** anchor button styles. Carlos González **/
a.button_link {
    display: block;
    padding: 2px 0px 2px 24px;
    width: auto;
    height: auto;
    color: #525252;
    text-decoration: none;
    font-size: 12px;
    font-family: Lato-Regular, Arial;
}

table a.button_link {
    float: left;
    margin: 0px 4px;
    width: auto;
    outline: none;
    color: transparent;
    text-decoration: none;
    text-indent: -9999px;
}

a.button_link:hover {
    opacity: 0.4;
}

/*End Anchor styles*/

/**Carlos Gonzalez. Class to put styles to section subtitles*/
.section-subtitle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    display: block;
    margin-top: 15px;
    margin-bottom: 24px;
    padding: 0;
    width: 100%;
    border-width: 0 0 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    color: #333333;
    font-size: 20px;
    line-height: inherit;
}

/**Carlos Gonzalez. Date picker style when use image**/
.defaultPicker, .datePicker {
    background-color: #FFFFFF !important;
    cursor: pointer !important;
}

label.control-label i {
    cursor: pointer;
}

label.control-label {
    /*width: 100%;*/
}

/**Carlos Gonzalez. Div radiobutton list styles**/
.inline-block {
    display: inline-block !important;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    min-height: 24px;
}

/**Carlos Gonzalez. Hide default jquery dialog close button**/
.ui-dialog-titlebar-close {
    visibility: hidden;
}
/*End dialog close button hide*/

/**Carlos Gonzalez: Chosen styling*/
select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    float: left;
    padding: 6px 12px;
    padding: 8px 12px;
    width: 100%;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    color: #555;
    vertical-align: middle;
    font-size: 17px;
    line-height: 1.42857;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    select.form-control + .chosen-container.chosen-container-single .chosen-single div {
        top: 4px;
        color: #000;
    }

select.form-control + .chosen-container .chosen-drop {
    margin: 2px 0 0;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #FFF;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    padding: 6px 12px;
    width: 100%;
    height: 42px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #FFF;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.428571429;
    -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    margin-bottom: 5px;
    padding: 5px 0;
    background-color: #fff;
    list-style: none;
    font-size: 14px;
}

    select.form-control + .chosen-container .chosen-results li,
    select.form-control + .chosen-container .chosen-results li.active-result {
        display: block;
        clear: both;
        padding: 3px 20px;
        background-image: none;
        color: #333;
        white-space: nowrap;
        font-weight: normal;
        line-height: 1.428571429;
    }

        select.form-control + .chosen-container .chosen-results li:hover,
        select.form-control + .chosen-container .chosen-results li.active-result:hover,
        select.form-control + .chosen-container .chosen-results li.highlighted {
            background-color: #428BCA;
            background-image: none;
            color: #FFF;
            text-decoration: none;
        }

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    padding: 6px;
    min-height: 42px;
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #FFF;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.428571429;
    -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        padding: 5px 0;
        height: auto;
    }

    select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
        margin: 0 6px 0 0;
        padding: 3px 24px 3px 5px;
        border: 1px solid #ccc;
        border-color: #CCC;
        border-radius: 4px;
        background-color: #FFF;
        background-image: none;
        color: #333;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.428571429;
        cursor: pointer;
    }

        select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
            top: 8px;
            right: 6px;
        }

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus {
    outline: 0;
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected {
    display: list-item;
    background-color: white;
    color: #ccc;
    cursor: default;
}

.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 10px !important;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("chosen-sprite.png") no-repeat scroll -42px 1px rgba(0, 0, 0, 0);
    font-size: 1px;
}
/**End Chosen styling*/

/**Carlos Gonzalez: Bootstrap column accordion wrap**/
.panel-group .panel {
    margin: 5px 0 0 0;
    padding: 0;
}

/*Checkbox items wrap*/
label.permissions {
    margin-left: 10px;
    width: auto !important;
}


/*Menu*/
.dropdown-menu {
    padding: 9px !important;
    line-height: 2;
}

    .dropdown-menu a {
        color: #555555;
    }

.btnform {
    width: 47% !important;
}

/*ReadOnly Special*/
.control-readonly {
    border-radius: 4px !important;
    background-color: #FFFFFF !important;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075) !important;
}


/**/
.title h1 {
    color: #84909A;
}

.navbar-brand {
    padding-top: 18px !important;
    text-shadow: 6px 1px 3px #84909A !important;
    font-size: 34px !important;
}

.foot {
    padding-top: 24px;
}

.navbar-nav > li > a {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}

.paging_full_numbers {
    margin-top: 8px;
}

.center {
    text-align: center !important;
    margin: auto, auto, auto, auto;
}

.justify {
    text-align: justify !important;
    margin: auto, auto, auto, auto !important;
}

.notFoundHeader {
    font-family: Tahoma;
    color: red;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .ml3,
    .ml2 {
        margin-right: 8px;
    }

    .well {
        float: left;
        padding: 0 !important;
        width: 100%;
    }

    .scroll {
        overflow: scroll;
        margin-bottom: 30px !important;
        width: 96%;
    }

    legend {
        padding: 12px !important;
        width: 91.5% !important;
    }

    .btn {
        float: right !important;
        margin-bottom: 10px !important;
        width: 100% !important;
    }

    .form_table {
        margin-left: 10px;
    }

    .pr0responsive {
        padding-right: 0 !important;
        width: 89% !important;
    }

    .create .form-group {
        width: 100%;
    }

        .create .form-group .form-control {
            width: 96%;
        }

    .row {
        margin: 0px !important;
    }

    .delete {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 80px;
    }
}

@media screen and (max-width: 480px) {
    .ml2 {
        margin-right: 0px !important;
    }

    /*.dataTables_wrapper .dataTables_filter {
        margin-top: 0;
    }

        .dataTables_wrapper .dataTables_filter input {
            margin-left: 0;
        }

    .dataTables_wrapper > .row > .col-xs-6 {
        padding-left: 0!important;
        padding-right: 0!important;
    }*/
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    body {
        padding-top: 140px;
    }
}

.anchor {
    padding-top: 70px;
    margin-top: -70px;
}

/*Fixed footer on bottom*/
.container {
    min-height: 80%;
    position: relative;
}

#holder {
    position: relative;
}

#body {
    padding-bottom: 100px;
}

#footer {
    bottom: 0 !important;
    height: 100px;
    left: 0 !important;
    right: 0 !important;
    background-color: #F9F9F9;
    border-color: #E8E8E8;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
}

#footer-content {
    margin-left: 20px;
    margin-right: 20px;
}
/*End Fixed Footer on bottom*/


/** anchor button styles. Carlos González **/
a.button_link {
    display: block;
    padding: 2px 0px 2px 24px;
    width: auto;
    height: auto;
    color: #525252;
    text-decoration: none;
    font-size: 12px;
    font-family: Lato-Regular, Arial;
}

table a.button_link {
    float: left;
    margin: 0px 4px;
    width: auto;
    outline: none;
    color: transparent;
    text-decoration: none;
    text-indent: -9999px;
}

a.button_link:hover {
    opacity: 0.4;
}

a.add_link {
    background: url(../images/icon_act_add.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.delete_link {
    background: url(../images/icon_act_delete.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.edit_link {
    background: url(../images/icon_act_edit.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.go_back_link {
    background: url(../images/icon_act_back.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.home_link {
    background: url(../images/icon_act_house.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.view_link {
    background: url(../images/icon_act_view.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.history_link {
    background: url(../images/history_link.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.rules_link {
    background: url(../images/rules_link.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.schedule_link {
    background: url(../images/schedule_link.png) left center no-repeat rgba(0, 0, 0, 0);
}

a.reload_link {
    background: url(../images/icon_act_reload.png) left center no-repeat rgba(0, 0, 0, 0);
}

/*Link color styles*/
a.black {
    color: black;
}

a.blue {
    color: blue;
}

i.black {
    color: black;
}

i.blue {
    color: blue !important;
}


/*End Anchor styles*/

/*Ajax loading spinner styles*/
.spinner {
    background: rgba(216, 214, 214, 0.40) url(../Images/ajax-loader.gif) no-repeat center center;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    filter: alpha(opacity=80);
    opacity: 0.8;
}
/*End Ajax loading spinner styles*/

/*Uppercase input fields*/
input.upperCase {
    text-transform: uppercase !important;
}

/*Adjust width on modals*/
@media screen and (min-width: 768px) {
    .modal.modal-wide .modal-dialog {
        /*width: 90%;*/
        width: 75%;
    }
}

.modal-wide .modal-body {
    /*overflow-y: auto;*/
}

.bootbox {
    height: 400px;
    top: calc(50% - 200px) !important;
}

/*Fix for SweetAlert overlay when using bootstrap modals*/
.sweet-overlay {
    /*background-color: rgba(0, 0, 0, 0.2)!important;*/
    background-color: #bbbaba;
    opacity: 0.2 !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 9998 !important;
}

.sweet-alert {
    background-color: #d4d3d3;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 9999 !important;
}

/**Fix fieldset for responsiveness*/
.buttonTable {
    padding-right: 15px;
}

fieldset {
    display: table-cell;
    width: 100%;
}

/*ie10+*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    fieldset {
        float: left;
    }

    div.well {
        float: left;
    }
}
