@{
    ViewBag.Title = _("Layout_About");
}

<div class="row">
    <div class="col-lg-12">
        <hgroup class="title">
            <h1><img src="~/Images/about_us.png" />&nbsp;@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>

      <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="~/Images/doctor_picture.jpg" data-src="holder.js/21x200" alt="doctor_picture">
      <div class="caption">
        <h3><center>Dr. Fredy Figueroa</center></h3>
        @Html.Raw(_("Doctor_picture_text"))
        
      </div>
    </div>
  </div>
</div>     
        
      <div> @Html.Raw(_("About_text"))

        </div>
        
        
    </div>
</div>
@section Scripts{
    <script>
        $('p').addClass('justify');
    </script>
}