@model IOrderedEnumerable<KeyValuePair<string, string>>
@{
    ViewBag.Title = "Usuarios de Active Directory";
}

<h2>USuarios de active directory</h2>

@foreach (var item in Model)
{
    <li>Username: @item.Key:&nbsp;Display Name: @item.Value</li><br />
}