 
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="panel panel-error">
    <div class="panel-heading">
        Detalles del Error
    </div>
    <div class="panel-body">
        
    </div>
</div>
