@{
    ViewData["Title"] = "About";
    var Chercha = "Esta Es La cherCha";
    var nombre = "Que Nombre del carajo";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Pongan algo que sirva aqu&iacute;.@($"He aqui la charlataneria: {Chercha}, {nombre}, {xD}")</p>
