@using SIGEC.Resources

@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink(_("Manage_Title"), "Manage", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        
    }
    <li><a href="javascript:document.getElementById('logoutForm').submit()">@_("lblLogoff")</a></li>
}
else
{
    
    <li>@Html.ActionLink(_("lblLogin"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
