@using SIGEC.Models.ViewModels

@model EnumBox

<div>
    @foreach (var value in Enum.GetValues(Model.EnumObject))
    {
        <div class="inline-block">
            <label>
                @if (value.ToString() == Model.Selected.ToString())
                { 
                    @Html.RadioButton(Model.name, value, new { @checked = (value.ToString() == Model.Selected.ToString()) ? "checked" : null }) 
                }
                else 
                { 
                    @Html.RadioButton(Model.name, value)
                }
                @(_(value.ToString()))
            </label>
        </div>
    }
</div>
